.toggle-button {
  background: yellow;
  border: none;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 30px;
  font-weight: 100;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.colorred {
    background-color: red;
}